
<div class="new-todo">
	<% remote_form_for :todo, todo, :url => {:action=> "create" }, 
			#:update => nothing - the action returns an rjs, which handles the page updates
			:success => "elements['todo[text]'].activate().clear();" do |f| %>
			
		<%= f.hidden_field :due, :id=>"due#{todo.parent_id}", 
			:onchange=> "$('due#{todo.parent_id}_span').update($('due#{todo.parent_id}').value);"
		%>
		<%= f.text_field :text, :size => 40 %>
		<span id="todo-flash-error-<%= todo.parent_id || 'root' %>" class='flash error' style='display: none;'></span>
                
		<%= l(:todo_new_due_label) %>
		
		  <span style='position: relative; top: -2px;'>
		    <%= calendar_for "due#{todo.parent_id}" %></span>: <span id='<%= "due#{todo.parent_id}_span" %>' >
		  </span>

		<%= f.hidden_field :parent_id %>
		<br />

		<%= f.submit l(:todo_new_create_button) %>
		<% if todo.parent %>
		  <%= l(:todo_new_or_label) %> 
			<%= link_to_function(l(:todo_new_done_link), 
			    "Element.update('todo#{todo.parent_id}-new-box','')") %>
		<% end %>
	<% end %>
</div>
