<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'todos', :plugin => 'redmine_todos_plugin' %>
    <%= stylesheet_link_tag 'todos_print', :plugin => 'redmine_todos_plugin', :media => 'print' %>
<% end %>

<div id=project-todos>
  <%= render :partial => 'todos/link_bar' %>
  <h3><%= l(:mytodos_heading)%></h3>
  
  <%= render :partial => 'todos/new_todo',
       :locals => {:todo => @new_todo } %>

  <%= render :partial => 'todos/root_todos', 
      :locals => {:todos => @personal_todos, :editable => true, :parent_object => @user} #:project_id => 'personal'} 
      
      %>


</div>

<div id=project-todos>
  <% @grouped_project_todos.each do |project, todos| %>
  
    <h3>
      
        <%= link_to h(project.name), 
           {:controller => 'todos', :action => 'index', :project_id => project},
           :class => (User.current.member_of?(project) ? "icon icon-fav" : ""),
           :title => l(:mytodos_edit_project_tooltip) %>
      <%= l(:label_todo_plural) %>
    </h3>
    
    <%= render :partial => 'todos/root_todos', 
        :locals => {:todos => todos, :parent_object => project, :editable => false} %>
        
  <% end %>

</div>
