<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'todos', :plugin => 'redmine_todos_plugin' %>
<% end %>

<h2>My Todos</h2>

<div id=project-todos>
	
	<h3>My Personal Todos</h3>
	
	<%= render :partial => 'new_todo',
	     :locals => {:todo => @new_todo, :update_target => "todo-children-ul_#{ 'personal' }"} %>

	<%= render :partial => 'todos/root_todos', 
	    :locals => {:todos => @personal_todos, :editable => true, :project_id => 'personal'} %>


</div>

<div id=project-todos>
	<% @grouped_project_todos.each do |project, todos| %>
	
		<h3>
				<%= link_to h(project.name), {:controller => 'todos', :action => 'index', :project_id => project},
					 :class => (User.current.member_of?(project) ? "icon icon-fav" : ""),
					 :title => "Edit the todos for this project" %>
		</h3>
		
		<%= render :partial => 'todos/root_todos', 
		    :locals => {:todos => todos, :project_id => project, :editable => false} %>
				
	<% end %>

</div>
