<%  if User.current.allowed_to?(:view_todos, @project) || User.current.admin? %>
  <% content_for :header_tags do %>
      <%= stylesheet_link_tag 'todos', :plugin => 'redmine_todos_plugin' %>
      <%= stylesheet_link_tag 'todos_print', :plugin => 'redmine_todos_plugin', :media => 'print' %>
  <% end %>

  <hr />
  <div id=issue-todos>
    <div class="contextual">
      <% if @allowed_to_edit_todos %>
          <%= toggle_link l(:button_add), 'new-todo-form'%>
      <% end %>
    </div>
    <p><strong><%= l(:label_related_todos) %></strong></p>
    <div id='project-todos'>
      <%= render :partial => 'todos/root_todos',
        :locals => {:todos => @todos, :parent_object => @project, :editable => @allowed_to_edit_todos} %>
    </div>
  </div>
<% end %>

<div id='new-todo-form' style="<%= (params[:todo] ? '' : 'display: none;') %>">
  <%= render(:partial => 'todos/new_todo',
    :locals => { :todo => @project.todos.new(:assigned_to => User.current, :issue_id => @issue.id)}) if @allowed_to_edit_todos %>
</div>
