<% 
#New todo: partial for creating a new todo.
#requires:
#   todo : a new Todo object
#   update_target : a string containing a DOM element id to render the new todo 
%>

<div class="new-todo">
	<% remote_form_for :todo, todo, :url => {:action=> "create", :project_id => todo.project }, 
			:update => update_target, :position => :bottom,  #"todo-children-ul_#{todo.parent_id}"
			:success => "elements['todo[text]'].activate().clear();" do |f| %>
			
		<%= f.hidden_field :due, :id=>"due#{todo.parent_id}", 
			:onchange=> "$('due#{todo.parent_id}_span').update($('due#{todo.parent_id}').value);"
		%>
		<%= f.text_field :text, :size => 40 %>
		
		<%= l(:todo_new_due_label) %>
		
		<span style='position: relative; top: -2px;'>
		  <%= calendar_for "due#{todo.parent_id}" %>
		</span>:
		<span id='<%= "due#{todo.parent_id}_span" %>' ></span>

		<%= f.hidden_field :parent_id %>
		<br />
		<%= f.select :assigned_to_id, todo.project.users.collect{|m| [m.name,m.id]},
		     { :prompt=> l(:todo_new_assign_to_tooltip) },  
		     {:title => l(:todo_new_assign_to_tooltip) } 
		%>
		     
		<%= f.select :issue_id, 
		      todo.possible_issues.collect{ |i| 
		        ["##{i.id} #{i.subject[0..40]}... #{i.tracker.name}" , i.id]
		      },
		      :prompt=> l(:todo_new_issue_tooltip) 
		%>
		<br />
		<%= f.submit l(:todo_new_create_button) %>
		
		<% if todo.parent %>
			<%= l(:todo_new_or_label) %> 
			<%= link_to_function(l(:todo_new_done_link),
			   "Element.update('todo#{todo.parent_id}-new-box','')") %>
		<% end %>
	<% end %>
</div>
