
<div class="new-todo">
	<% remote_form_for :todo, todo, :url => {:action=> "create", :project_id => todo.project }, 
			:update => "todo#{ todo.parent_id }-children-ul", :position => :top ,
			:success => "elements['todo[text]'].activate().clear();" do |f| %>
			
		<%= f.hidden_field :due, :id=>"due#{todo.parent_id}", 
			:onchange=> "$('due#{todo.parent_id}_span').update($('due#{todo.parent_id}').value);"
			%>
		<%= f.text_field :text, :size => 40 %>
		Due<span style='position: relative; top: -2px;'><%= calendar_for "due#{todo.parent_id}" %></span>: <span id='<%= "due#{todo.parent_id}_span" %>' ></span>

		<%= f.hidden_field :parent_id %>
		<br />
		<%= f.select :assigned_to_id, todo.project.users.collect{|m| [m.name,m.id]}, { :prompt=> 'assign to' },  {:title => 'assign to'} %>
		<%= f.select :issue_id, todo.possible_issues.collect{|i| ["##{i.id} #{i.subject[0..40]}... #{i.tracker.name}",i.id]},  :prompt=> 'refers to' %>
		<br />
		<%= f.submit "create todo" %>
		<% if todo.parent %>
			or <%= link_to_function('Done adding todos', "Element.update('todo#{todo.parent_id}-new-box','')") %>
		<% end %>
	<% end %>
</div>
