<% 
#New todo: partial for creating a new todo.
#requires:
#   todo : a new Todo object
  parent_object = todo.todoable
  raise unless parent_object
  
%>

<div class="new-todo">
  <% remote_form_for [parent_object,todo],
      #:todo, todo, :url => {:controller => "todos", :action=> "create", :project_id => todo.project },
      #:update =>  TodosController::UL_ID + todo.parent_or_root_id, :position => :bottom,
      :success => "elements['todo[text]'].activate().clear();" do |f| %>
      
    <%= f.hidden_field :due, :id=>"due#{todo.parent_id}", 
      :onchange=> "$('due#{todo.parent_id}_span').update($('due#{todo.parent_id}').value); $('due#{todo.parent_id}_cancel_span').show();"
    %>
    <%= f.text_field :text, :size => 40 %>
    <span id="todo-flash-error-<%= todo.parent_id || 'root' %>" class='flash error' style='display: none;'></span>
    
    <%= l(:todo_new_due_label) %>
    
    <span style='position: relative; top: -2px;'>
      <%= calendar_for "due#{todo.parent_id}" %>
    </span>:
    <span id='<%= "due#{todo.parent_id}_span" %>' ></span>
    <span id='<%= "due#{todo.parent_id}_cancel_span" %>' class='new-todo-date-cancel' style='display: none;'>
      <%= 
          link_to_function(image_tag('bullet_delete.png'), nil, :title => "Clear Date") do |page|
            page["due#{todo.parent_id}"].value = ''
            page.replace_html "due#{todo.parent_id}_span", ''
            page.hide "due#{todo.parent_id}_cancel_span"
          end 
      %>
    </span>

    <%= f.hidden_field :parent_id %>
    <br />
    <% if todo.todoable.is_a? Project %>
      <%= f.select :assigned_to_id, todo.todoable.users.collect{|m| [m.name,m.id]},
           {:prompt=> l(:todo_new_assign_to_tooltip) },  
           {:title => l(:todo_new_assign_to_tooltip) }
      %>
      <%= f.select :issue_id,           todo.possible_issues.collect{ |i| 
              subject = i.subject[0..40].scan(/([\x00-\x7f]|[\xC0-\xDF][\x80-\xBF]|[\xE0-\xEF][\x80-\xBF]{2}|[\xF0-\xF7][\x80-\xBF]{3})/on).join
              ["##{i.id} #{subject}... #{i.tracker.name}" , i.id]
            },
            {:prompt=> l(:todo_new_issue_tooltip), :selected => (todo.issue_id)?  todo.issue_id.to_i : nil}
      %>
      <br />
    <% end %>
    
    <%= f.submit l(:todo_new_create_button) %>
    
    <% if todo.parent %>
      <%= l(:todo_new_or_label) %>
      <%= link_to_function(l(:todo_new_done_link),
         "Element.update('todo#{todo.parent_id}-new-box','')") %>
    <% end %>
  <% end %>
</div>
