<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'todos', :plugin => 'redmine_todos_plugin' %>
    <%= stylesheet_link_tag 'todos_print', :plugin => 'redmine_todos_plugin', :media => 'print' %>
<% end %>


<div id=project-todos>
  <%= render :partial => 'todos/link_bar' %>
  <h2><%= l(:todos_project_heading) %> <%= @project.name %></h2>
  <div style="" >
 
    <%= render(:partial => 'new_todo', 
        :locals => {:todo => @new_todo}) if @allowed_to_edit
    %>

  </div>

  <%= render :partial => 'root_todos', 
    :locals => {:todos => @todos, :parent_object => @project, :editable => @allowed_to_edit} %>

</div>


