<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'task_lists', :plugin => 'redmine_task_lists' %>
<% end %>


<div id=project-todos>
	
	<h2>My Todos</h2>

	<% @grouped_todos.each do |project, todos| %>
	
		<h3><%= link_to h(project.name), {:controller => 'todos', :action => 'index', :project_id => project},
				 :class => (User.current.member_of?(project) ? "icon icon-fav" : "") %></h3>
		
		<ul class="todos root" id="todo-children-ul_<%= project.id %>">
			<% for todo in todos.sort{|a,b| a.position <=> b.position} %>
					<%= render :partial => 'todo', :locals => { :todo => todo, :project => project }%>
			<% end %>
		</ul>
		<%= sortable_element "todo-children-ul_#{project.id}", :url => {:action => 'sort', :parent_id => nil, :project_id => todo.project_id},
				:handle => "todo-content" %>
				
	<% end %>

</div>
