<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'task_lists', :plugin => 'redmine_task_lists' %>
<% end %>


<div id=project-todos>
	
	<h2>My Todos</h2>

	<% @grouped_todos.each do |project, todos| %>
	
		<h3><%= project.name %></h3>
		
		<ul class="todos root">
			<% for todo in todos %>
				<li class="<%= todo.done ? 'done' :'' %>" id=todo<%=todo.id%>>
					<%= render :partial => 'todo', :locals => { :todo => todo, :project => project }%>
				</li>
			<% end %>
		</ul>
		
	<% end %>
</div>
